@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; /* Set a light blue background color */
    overflow: hidden; /* Prevent scrollbars from appearing */
}
/* Add this style for the audio section */
.foraudio {
    margin-top: 50px;
    font-size: 1rem;
    color: #fff;
}


.particles {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.particle {
    position: absolute;
    background-color: #fff; 
    width: 2px; 
    height: 2px;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out; 
}

.particle:nth-child(odd) {
    width: 3px; 
    height: 3px;
}

.particle:nth-child(even) {
    width: 2px; 
    height: 2px;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


/* Center the text with appropriate spacing between lines */
.greetings {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.5rem; /* Adjust the spacing as needed */
    text-align: center;
}

.greetings .line {
    display: flex;
    justify-content: center;
}

.greetings > .line > span {
    opacity: 0;
    animation: glow 4s ease-in-out infinite;
}

/* Sequential glow animations */
@keyframes glow {
    0%, 100% {
        opacity: 0;
    }
    10%, 20% {
        opacity: 1;
        color: #fff;
        text-shadow: 0 0 12px #FF00FF, 0 0 50px #FF00FF, 0 0 100px #FF00FF;
    }
    80%, 90% {
        opacity: 1;
        color: #fff;
        text-shadow: 0 0 12px #FF00FF, 0 0 50px #FF00FF, 0 0 100px #FF00FF;
    }
    50% {
        opacity: 0;
        color: #111;
        text-shadow: none;
    }
}

/* Customize delays for each span in the first line */
.greetings .line:nth-child(1) > span:nth-child(1) { animation-delay: 0s; }
.greetings .line:nth-child(1) > span:nth-child(2) { animation-delay: 0.2s; }
.greetings .line:nth-child(1) > span:nth-child(3) { animation-delay: 0.4s; }
.greetings .line:nth-child(1) > span:nth-child(4) { animation-delay: 0.6s; }
.greetings .line:nth-child(1) > span:nth-child(5) { animation-delay: 0.8s; }
.greetings .line:nth-child(1) > span:nth-child(6) { animation-delay: 1s; }

.greetings .line:nth-child(1) > span:nth-child(7) { animation-delay: 1.2s; }
.greetings .line:nth-child(1) > span:nth-child(8) { animation-delay: 1.4s; }
.greetings .line:nth-child(1) > span:nth-child(9) { animation-delay: 1.6s; }
.greetings .line:nth-child(1) > span:nth-child(10) { animation-delay: 1.8s; }
.greetings .line:nth-child(1) > span:nth-child(11) { animation-delay: 2s; }
.greetings .line:nth-child(1) > span:nth-child(12) { animation-delay: 2.2s; }
.greetings .line:nth-child(1) > span:nth-child(13) { animation-delay: 2.4s; }
.greetings .line:nth-child(1) > span:nth-child(14) { animation-delay: 2.6s; }
.greetings .line:nth-child(1) > span:nth-child(15) { animation-delay: 2.8s; }



/* Customize delays for each span in the third line */
.greetings .line:nth-child(2) > span:nth-child(2) { animation-delay: 3s; }
.greetings .line:nth-child(2) > span:nth-child(3) { animation-delay: 3.2s; }
.greetings .line:nth-child(2) > span:nth-child(5) { animation-delay: 3.4s; }
.greetings .line:nth-child(2) > span:nth-child(6) { animation-delay: 3.6s; }
.greetings .line:nth-child(2) > span:nth-child(7) { animation-delay: 3.8s; }
.greetings .line:nth-child(2) > span:nth-child(8) { animation-delay: 4s; }



.description{
    font-size: 1.5rem;
    margin-top: 40px;
}

.description .message {
    display: none;
    opacity: 0;
    animation: fadeInOut 1.5s ease-in-out forwards;
}

.description .message.special {
    animation: fadeInOut 3s ease-in-out forwards;
}

.description .message.specials {
    animation: fadeInOut 3.5s ease-in-out forwards;
}

.description .message.specialss {
    animation: fadeInOut 4s ease-in-out forwards;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.button {
    margin-top: 100px; /* Add or adjust margin-top as needed */
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.button button {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: background 0.5s, transform 0.5s, box-shadow 0.5s;
}

.button button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.button button:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2,245,255,1) 100.2%);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Add or adjust these styles for smaller screens */
@media screen and (max-width: 574px) {
    .greetings {
        font-size: 0.8rem; /* Increase font size for better visibility on small screens */
        font-weight: 700;
        letter-spacing: 0.5rem; /* Adjust letter spacing for smaller screens */
    }

    /* Modify animation timing and delays for smaller screens */
    .greetings > .line > span {
        animation: glowSmall 3s ease-in-out infinite;
    }

    @keyframes glowSmall {
        0%, 100% {
            opacity: 0;
        }
        10%, 90% {
            opacity: 1;
            color: #fff;
            text-shadow: 0 0 8px #FF00FF, 0 0 40px #FF00FF, 0 0 80px #FF00FF;
        }
        50% {
            opacity: 0;
            color: #111;
            text-shadow: none;
        }
    }

    /* Adjust animation delays for smaller screens */
    .greetings .line:nth-child(1) > span:nth-child(1) { animation-delay: 0s; }
    .greetings .line:nth-child(1) > span:nth-child(2) { animation-delay: 0.1s; }
    .greetings .line:nth-child(1) > span:nth-child(3) { animation-delay: 0.2s; }
    .greetings .line:nth-child(1) > span:nth-child(4) { animation-delay: 0.3s; }
    .greetings .line:nth-child(1) > span:nth-child(5) { animation-delay: 0.4s; }
    .greetings .line:nth-child(1) > span:nth-child(6) { animation-delay: 0.5s; }
    .greetings .line:nth-child(1) > span:nth-child(7) { animation-delay: 0.6s; }
    .greetings .line:nth-child(1) > span:nth-child(8) { animation-delay: 0.7s; }
    .greetings .line:nth-child(1) > span:nth-child(9) { animation-delay: 0.8s; }
    .greetings .line:nth-child(1) > span:nth-child(10) { animation-delay: 0.9s; }
    .greetings .line:nth-child(1) > span:nth-child(11) { animation-delay: 1s; }
    .greetings .line:nth-child(1) > span:nth-child(12) { animation-delay: 1.1s; }
    .greetings .line:nth-child(1) > span:nth-child(13) { animation-delay: 1.2s; }
    .greetings .line:nth-child(1) > span:nth-child(14) { animation-delay: 1.3s; }
    .greetings .line:nth-child(1) > span:nth-child(15) { animation-delay: 1.4s; }

    .greetings .line:nth-child(2) > span:nth-child(2) { animation-delay: 1.5s; }
    .greetings .line:nth-child(2) > span:nth-child(3) { animation-delay: 1.6s; }
    .greetings .line:nth-child(2) > span:nth-child(5) { animation-delay: 1.7s; }
    .greetings .line:nth-child(2) > span:nth-child(6) { animation-delay: 1.8s; }
    .greetings .line:nth-child(2) > span:nth-child(7) { animation-delay: 1.9s; }
    .greetings .line:nth-child(2) > span:nth-child(8) { animation-delay: 2s; }



    .description {
        font-size: 1rem; /* Reduce font size for readability */
        margin-top: 20px; /* Adjust margin to fit smaller screens */
    }

    .description .message {
        animation: fadeInOutSmall 2s ease-in-out forwards; /* Adjust animation timing */
    }

    .description .message.special {
        animation: fadeInOutSmall 3.5s ease-in-out forwards; /* Slightly slower animation for emphasis */
    }

    .description .message.specials {
        animation: fadeInOutSmall 4s ease-in-out forwards; /* Slower for more impact */
    }

    .description .message.specialss {
        animation: fadeInOutSmall 4.5s ease-in-out forwards; /* Further slower */
    }

    /* Define new keyframes for smaller screens */
    @keyframes fadeInOutSmall {
        0%, 100% {
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
    }


    .button a {
        font-size: 0.8rem;
    }

    .button button {
        width: 140px; /* Adjust button size for smaller screens */
        height: 55px;
    }

    .button button:hover {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Adjust glow effect for buttons on hover */
    }
}
